<launch>
  <!-- Arguments -->
  <arg name="model" default="burger"/>
  <arg name="open_rviz" default="true"/>
  <arg name="map_file" default="$(find ros_world)/maps/map1.yaml"/>
  <arg name="move_forward_only" default="false"/>

  <!-- rviz -->
  <arg name="rvizconfig" default="$(find global_path_planning)/rviz/turtlebot3_LP.rviz"/> <!--change according to rviz .config file-->
  <node if="$(arg open_rviz)" name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(arg rvizconfig)"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

  <!-- Static tf between map and odom -->
  <arg name="static_tf" default="true" />
  <node if="$(arg static_tf)" pkg="tf2_ros" type="static_transform_publisher" name="odom_wrt_map_tf" args="0 0 0 0 0 0 map odom" />

  <!-- Static tf between base_link and odom (if needed) -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_wrt_odom_tf" args="0 0 0 0 0 0 odom base_link" />

  <!-- robot_state_publisher -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Joint State Publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- move_base -->
  <include file="$(find global_path_planning)/launch/turtlebot3_ros_world/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- Localization node (e.g., AMCL)
  <node pkg="amcl" type="amcl" name="amcl">
    <param name="use_map_topic" value="true"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="global_frame_id" value="map"/>
  </node> -->

  <!-- Start service server that responds with a plan for global path planning -->
  <node pkg="global_path_planning" name="global_path_planner" type="path_planning_server.py" output="screen"/>
  <node pkg="global_path_planning" name="global_path_publisher" type="trialpub.py"/>
  <node pkg="global_path_planning" name="frame_transformation" type="TF_updated.py"/>
  <node pkg="global_path_planning" name="controller_node" type="pure_pursuit.py"/>
</launch>
