<launch>
    <!-- Launch empty world in gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- Define robot_description -->
    <param name="robot_description" textfile="$(find roar)/urdf/roar.urdf" />

    <!-- Spawn the robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -model roar -param robot_description -x 0 -y 0 -z 0.13" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find roar)/config/Controllers.yaml" command="load"/>

    <!-- Load the controllers with namespace -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="wheel_lhs_front_velocity_controller wheel_lhs_mid_velocity_controller wheel_lhs_rear_velocity_controller wheel_rhs_front_velocity_controller wheel_rhs_mid_velocity_controller wheel_rhs_rear_velocity_controller joint_state_controller --timeout 50" />

    <!-- Start the joint state publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>
