<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="/home/shams/turtlebot_ws/src/leo_simulator/leo_gazebo/launch/worlds/leo_marsyard2022_world.launch">
  </include>

      <!-- Define robot_description -->
    <param name="robot_description" textfile="$(find roar)/urdf/roar.urdf" />

    <!-- Spawn the robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -model roar -x 0 -y 0 -z 0.13 -Y -1.57 -param robot_description " />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find roar)/config/Controllers.yaml" command="load"/>
    
    <!-- Load the controllers with namespace -->
   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="wheel_lhs_front_velocity_controller wheel_lhs_mid_velocity_controller wheel_lhs_rear_velocity_controller wheel_rhs_front_velocity_controller wheel_rhs_mid_velocity_controller wheel_rhs_rear_velocity_controller joint_state_controller --timeout 50" />

  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>


  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>

