<?xml version="1.0"?>
<launch>
<node pkg="localization" type="OOSM" name="OOSM" output="screen" />
<node pkg="localization" type="ROAR_main_simulation" name="ukf_localization" output="screen" />
</launch>




<!--
<launch>
<node pkg="localization" type="synchronizer.py" name="sync_test"/>
<node pkg="localization" type="ROAR_main_simulation" name="ukf_localization" output="screen"/> 
</launch> 

--!
